.header {
  display: grid;
  grid-template-columns: 100px auto 100px;
}

.logo-container {
  grid-column: 2 / 3;
  justify-self: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.logo {
  width: 300px;
}

.log-out-container {
  grid-column: 3 / 4;
  font-weight: 400;
}

.log-out-container p {
  font-size: 16px;
  margin-bottom: 2px;
}
