<div class="header">
  <div class="logo-container">
    <img src="/assets/pin-it.png" class="logo"/>
  </div>
  <div class="log-out-container">
    <p>Hello {{ user }}!</p>
    <a (click)="logOut()" href="" class="log-out">Log Out</a>
  </div>
</div>

<app-tags-list [selectedTags]="tags" (addTag)="onAddTag($event)"></app-tags-list>
<app-links-list [links]="articles" [type]="'articles'" [tags]="tags"></app-links-list>
<app-links-list [links]="videos" [type]="'videos'" [tags]="tags"></app-links-list>
<app-links-list [links]="images" [type]="'images'" [tags]="tags"></app-links-list>