.tagsList {
  display: flex;
  font-size: 12px;
}

.info-text {
  text-align: center;
  margin-right: 10px;
}

.tag {
  cursor: pointer;
  font-size: 11px;
  padding: 5px;
  margin-right: 10px;
  background-color: white;
  border: 1px grey solid;
}