img {
  width: 270px;
  height: 160px;
  margin-right: 10px;
  border: 0px solid;
}

.hover-container:hover .delete-button {
  opacity: 1;
}

.delete-button {
  opacity: 0;
  transition: opacity .25s;
  cursor: pointer;
  color: #DB6379;
  font-size: 25px;
}